@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    src: url('../font/MYRIADPRO-BOLDCOND.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('../font/MYRIADPRO-COND.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
